# Raushan Kumar
## Enroll no. 2021MSBDA033
## Sub :- Time Series (Assignment : 5)

Calculate the forecasted values with alpha = 0.5 and alpha = 0.9 from the period 2-12

Compare the performance of alpha = 0.1 , alpha = 0.5 and alpha = 0.9 using the metrics as :-

In [17]:
import numpy as np
import pandas as pd

In [31]:
X = ["JAN","FEB","MAR","APR","MAy","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]
Y = [200, 135, 195, 197, 310, 175, 155, 130, 220, 277, 235, 0]
data = pd.DataFrame({"Month": X,"Sales": Y})
data

   Month  Sales
0    JAN    200
1    FEB    135
2    MAR    195
3    APR    197
4    MAy    310
5    JUN    175
6    JUL    155
7    AUG    130
8    SEP    220
9    OCT    277
10   NOV    235
11   DEC      0

# For alpha = 0.1

In [33]:

alpha = 0.1
expo_arr = []
expo_arr.append(0)
res = Y[0]
for i in range(1, 12):
    res = ((alpha * Y[i-1]) + ((1 - alpha) * res))
    expo_arr.append(res)
data['expo = 0.1'] = expo_arr

# For alpha = 0.5

In [35]:

alpha = 0.5
expo_arr = []

expo_arr.append(0)
res = Y[0]
for i in range(1, 12):
    res = ((alpha * Y[i-1]) + ((1 - alpha) * res))
    expo_arr.append(res)

data['expo = 0.5'] = expo_arr

# For alpha = 0.9

In [34]:
alpha = 0.9
expo_arr = []
expo_arr.append(0)
res = Y[0]
for i in range(1, 12):
    res = ((alpha * Y[i-1]) + ((1 - alpha) * res))
    expo_arr.append(res)
data['expo = 0.9'] = expo_arr

In [36]:
data

   Month  Sales  expo = 0.1  expo = 0.9  expo = 0.5
0    JAN    200    0.000000    0.000000    0.000000
1    FEB    135  200.000000  200.000000  200.000000
2    MAR    195  193.500000  141.500000  167.500000
3    APR    197  193.650000  189.650000  181.250000
4    MAy    310  193.985000  196.265000  189.125000
5    JUN    175  205.586500  298.626500  249.562500
6    JUL    155  202.527850  187.362650  212.281250
7    AUG    130  197.775065  158.236265  183.640625
8    SEP    220  190.997559  132.823626  156.820312
9    OCT    277  193.897803  211.282363  188.410156
10   NOV    235  202.208022  270.428236  232.705078
11   DEC      0  205.487220  238.542824  233.852539

In [37]:
alphas = ['expo = 0.1', 'expo = 0.5', 'expo = 0.9']

## 1. Mean Error

In [38]:
for i in alphas:
    error = []
    for j in range(1, 11):
        error.append(float(Y[j]) - float(data[i][j]))
    print(f"Mean Error of {i} is {np.sum(error) / 10}")

Mean Error of expo = 0.1 is 5.487220146499974
Mean Error of expo = 0.5 is 6.7705078125
Mean Error of expo = 0.9 is 4.282535958499997

## 2. Mean Absolute Error

In [39]:
for i in alphas:
    error = []
    for j in range(1, 11):
        error.append(abs(float(Y[j]) - float(data[i][j])))
    print(f"Mean Absolute Error of {i} is {np.sum(error) / 10}")

Mean Absolute Error of expo = 0.1 is 47.665103146499995
Mean Absolute Error of expo = 0.5 is 56.8673828125
Mean Absolute Error of expo = 0.9 is 61.2132662115

## 3. Mean absolute percentage error

In [61]:
for i in alphas:
    error = []
    for j in range(1, 11):
        error.append((abs(float(Y[j]) - float(data[i][j]))) / (float(Y[j])) *100)
    print(f"Mean Absolute Percentage Error of {i} is {np.sum(error) / 10}")

Mean Absolute Percentage Error of expo = 0.1 is 24.545562874620572
Mean Absolute Percentage Error of expo = 0.5 is 29.173887416492242
Mean Absolute Percentage Error of expo = 0.9 is 30.767301525664173

## 4. Mean squared error

In [57]:
for i in alphas:
    error = []
    for j in range(1, 11):
        error.append((float(Y[j]) - float(data[i][j])) ** 2)
    print(f"Mean Sqaured Error of {i} is {np.sum(error) / 10}")

Mean Sqaured Error of expo = 0.1 is 3430.827328188864
Mean Sqaured Error of expo = 0.5 is 4340.320277786255
Mean Sqaured Error of expo = 0.9 is 5037.874988374901

## 5. Theil's U statistics

In [58]:
for i in alphas:
    error = []
    for j in range(1, 11):
        error.append((float(Y[j]) - float(data[i][j])) ** 2)
    print(f"Theil's U of {i} is {np.sum(error) / np.sum(np.array(Y) ** 2)}")

Theil's U of expo = 0.1 is 0.0710223579158177
Theil's U of expo = 0.5 is 0.08984998391071672
Theil's U of expo = 0.9 is 0.10429022691398225

# Thank you